@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 32px;
}


p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

 .flex {
    display: flex;
    
}

.flex-1 {
     flex: 1;
     
} 

.container {
    padding: 50px 0;

}

.row {


}

.text--blue {
    color: #2b47e5;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVAGATION */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
    
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    color: #242424;
    font-weight: 700;
   
}

.nav__link--anchor-primary {
    color: #ffff;
    background-color: #2b47e5;
    padding: 8px 20px;
    border-radius: 50px;
    transition: color 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #1a2bbf;
       
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    margin: 0 12px;
    color: #1a2bbf;
}

/* ABOUT ME */


.about-me {
    min-height: 100vh;
    
}

.about-me__info {
    display: flex;
    flex-direction: column;

}

.about-me__info--container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0 0 0 0.16);
    margin-bottom: 24px;
}

.about-me__picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
    
    /* Transform */
    transform: scale (1.5);
    
}

.about-me__info--title {
   margin-bottom: 16px;

}
   
.about-me__info--para {
    font-size: 20px;
    text-align: center;
    justify-content: center;    
    
}


.about-me__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 20px;
}

.about-me__link {
    font-size: 20px;
    color: grey;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.about-me__img {
    max-width: 600px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

/* TECH - STACK */

.language__img {
    width: 100%;
    max-width: 50px;
    transition: all 300ms;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
    
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
}

.language:hover .language__name {
    transform: scale(1);
}











